<o-form-layout-manager attr="PortfolioStock" mode="tab" title="PORTFOLIOSTOCK">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="PortfolioStockTable" 
            service="PortfolioStock" 
            entity="PortfolioStock" 
            title="PORTFOLIOSTOCK"
            keys="id"
            columns="id;portfolio_id;stock_id;quantity" 
            header-actions="R;D"
            visible-columns="id;portfolio_id;stock_id;quantity"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="portfolio_id" title="portfolio_id">
    <o-table-cell-renderer-service attr="portfolio_id" 
        service="Portfolio" entity="PortfolioType" columns="id;name"
        parent-keys="id:portfolio_id"
        value-column="name" keys="portfolio_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="stock_id" title="stock_id">
    <o-table-cell-renderer-service attr="stock_id" 
        service="Stock" entity="StockType" columns="id;name"
        parent-keys="id:stock_id"
        value-column="name" keys="stock_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #quantity attr="quantity" title="quantity" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>